body {
    font-family: "lato", sans-serif;
}

header {
    height: 100px;
    border: solid;
}

.page-logo {
    height: 100px;
    width: 100px;
}

.text-logo {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 1.75em;
}