html {
    scroll-behavior: smooth;
}

body {
    min-height: 110vh;
    font-family: "lato", sans-serif;
    font-size: 1.3vw;
    color: #2d2d2d;
}

header {
    height: 6vw;
    padding: 1em;   
}

/* Navbar */
.navbar {
    transition: all 0.4s;
    font-size: 1.3vw;
    letter-spacing: 4px;
    background-image: url("Media/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #dd9933;
    text-decoration: none;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1); 
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #dd9933;
    text-decoration: none;
}

/* Separator */
hr.rounded {
    border-top: 4px solid #eee;
    border-radius: 5px;
}

hr.rounded-small {
    border-top: 4px solid #eee;
    border-radius: 5px;
    width: 50%;
}


/* Main content */
main h2, h3, p {
    color: #444444;
}

main h2, h3 {
    font-weight: 700;
}

.parallax {
    background: linear-gradient(rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)), url("Media/Stage-self-groupe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    
}

.parallax a,
.parallax a:hover {
    text-decoration: none;
}

.parallax a:hover {
    color: #ebc489;
}

.title-table-self {
    color: white;
}

/* Pages title */
.title-content-home {
    font-weight: 700;
}

.home-chart {
    background-color: #EEEEEE;
    color: #666666;
    font-weight: 700;
}

/* Aside */
aside {
    color: #444444;
}

aside ul {
    list-style-type: disc;
}

aside ul li u {
    color: #3b3b3b;
}

/* Cards */
.animated .card {
    transition: 0.5s;
}

.card-body {
    background-color: #f7f7f7;
}

.animated .card:hover {
    z-index: 1;
    transition: all 0.5s;
    transform: scale(1.1);
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
}   

/* Footer */
.footer{
    background-color: #2d2d2d;
}

.footer hr {
    background-color: #eee;
}

/* Golden words */
.gold {
    color: #dd9933;
}

/* Confidential content link */
.confidential-content:hover {
    color: #ffbe5c;
    text-decoration: none;
}

/* Socials networks */
.social-network a{
    color: #6c757d;
}

/* Arrow to go top */
.to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: RGBA(221,153,51,0.5);
    border-radius: 50%;
    font-size: xx-large;
    margin: 5px;
}

.to-top:hover {
    background-color: rgba(68, 68, 68);
}

.arrow {
    position: absolute;
    left: 14%;
    color: #444444;
    transform: rotate(-90deg);
    transition: transform 0.4s;
}

.arrow:hover {
    transform: rotate(270deg);
    color: #dd9933;
}

/* Modals */
.modal-body .card {
    font-size: large;
}

.modal-body .stars {
    color: orange;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #454545;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555; 
}

/*Change navbar styling on small viewports */
@media (max-width:419px) {
    .navbar .navbar-brand {
        font-size: x-small;
    }

    .navbar {
        font-size: 3vw;
    }
}

/* Change navbar styling on medium viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
        font-size: 3vw;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1); 
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }

    .navbar .nav-link:hover,
    .navbar .nav-link:focus {
        color: #555;
    }

}

/* Change navbar styling on large viewports */
@media (min-width: 991.98px) {
    .navbar .navbar-brand {
        transition: 0.4s;
        font-size: 2.5vw;
    }

    .navbar .navbar-brand:hover {
        transition: 0.4s;
        font-size: 2.7vw;
        color: #dd9933;
    }

    .navbar.active .navbar-brand {
        color: #555;
        font-size: 1.3vw;
    }

    .navbar.active .navbar-brand:hover {
        color: #dd9933;
        font-size: 1.5vw;
    }

    .navbar .nav-link::after {
        content: " |";
    }
}

